#HOOK_PAYMENT {
    .paymemethod {
        display: block;
        background: #fbfbfb;
        border: 1px solid #d6d4d4;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        font-size: 17px;
        line-height: 23px;
        color: #333;
        font-weight: bold;
        padding: 20px 40px 21px 16px;
        letter-spacing: -1px;
        position: relative;
        width: 100%;
        text-align: left;
        &:hover {
            background-color: #f6f6f6;
        }
        &:after {
            display: block;
            content: "\f054";
            position: absolute;
            right: 15px;
            margin-top: -11px;
            top: 50%;
            font-family: "FontAwesome";
            font-size: 25px;
            height: 22px;
            width: 14px;
            color: #777;
        }
        button {
            margin: 25px 0;
            border: 0px;
        }
    }
}

.title {
    &.success {
        color: green;
        font-weight: bold;
    }
    &.warning {
        color: orange;
        font-weight: bold;
    }
    &.danger {
        color: red;
        font-weight: bold;
    }
}

.pagoefectivo-cip {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    background: #eee;
    padding: 6px 13px;
    border-radius: 5px;
    text-align: center;
    
    b {
        background: #eee;
        border-radius: 5px;
        padding: 6px 13px;
    }
}
